body {
	background-color: #F2F2F2;
}

/*Navbar*/
.navbar {
	background-color: linear-gradient(#00B760, #00A356);
	background: -webkit-linear-gradient(#00B760, #00A356); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#00B760, #00A356); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#00B760, #00A356); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#00B760, #00A356); /* Standard syntax */
	color: white;
	border-radius: 0px;
}
.navbar-default {
	border-color: transparent;
	border-bottom:solid #A3A3A3 1px;
}

.navbar-default
.navbar-brand {
	color: white;
}

.navbar-brand {
	color: white;
	font-size: 28px;
}

.navbar-default
.navbar-nav > li > a {
	color: white;
	font-size: 14px;
	font-weight: 500;
	margin-top: 2px;
}

.navbar-nav > li > a, .navbar-brand {
    padding-top:12px !important; 
    padding-bottom:0 !important;
    height: 40px;
}
.navbar {min-height:50px !important;}

/*New/edit post button & modal*/
#create-new-post {
	padding-bottom: 20px;
}
input {
	margin-bottom: 5px;
}
textarea {
	margin-bottom: 5px;
}
.form-options {
	margin-top: 20px;
}
label {
	padding-left: 3px;
}

/*Post*/
.inline {
	display: inline;
}

/*.info-rel {
	position: relative;
	min-height: 109px;
}
.info-top-abs {
	position: absolute;
	bottom: 30px;
}
.info-bottom-abs {
	position: absolute;
	bottom: 0;
}*/
.tag {
	padding-left: 15px;
}

a.edit-pencil.edit-right {
	color: #cccccc;
}
a.edit-pencil.edit-right:hover {
	color: #808080;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.right {
	float: right;
}
.tag-color:hover {
	color: #00B760;
}

.edit-right {
	float: right;
	margin-right: 10px;
	padding-top: 3px;
}

.author-img {
	max-height: 109px;
	margin-bottom: 10px;
}

.post-container {
	margin-bottom: 0px;
	border-radius: 5px 5px 0px 0px;
	border-left: solid lightgrey 1px;
	border-bottom: solid lightgrey 1px;
	padding: 20px;
	background-color: white;
}

/*comment row*/
.comment-input-row {
	background-color: #EDEDED;
	margin-bottom: 20px;
	border-bottom: solid lightgrey 1px;
	border-left: solid lightgrey 1px;
	border-radius: 0px 0px 5px 5px;
}

.comment-input {
	margin: 10px 0px 0px 0px;
	border-radius: 0px;

}
.hr-sm {
	margin: 0px 0px 5px 0px;
}
.comment-img {
	height: 60px;
}
.comment-header {
	margin-bottom: 2px;
	box-sizing: initial;
}
.comment {
	color: #616161;
}
.comment-display {
	/*background-color: white;*/
	padding: 10px 10px 5px 10px;
	margin-bottom: 10px;
	border-radius: 2px;
}