body {
	background-color: #F2F2F2;
}

/*Navbar*/
.navbar {
	background-color: linear-gradient(#00B760, #00AD5B);
	background: -webkit-linear-gradient(#00B760, #00AD5B); /* For Safari 5.1 to 6.0 */
	  background: -o-linear-gradient(#00B760, #00AD5B); /* For Opera 11.1 to 12.0 */
	  background: -moz-linear-gradient(#00B760, #00AD5B); /* For Firefox 3.6 to 15 */
	  background: linear-gradient(#00B760, #00AD5B); /* Standard syntax */
	color: white;
	border-radius: 0px;
}
.navbar-default {
	border-color: transparent;
	border-bottom:solid darkgrey 1px;
}

.navbar-default
.navbar-brand {
	color: white;
}

.navbar-brand {
	color: white;
	font-size: 28px;
}
.navbar-default
.navbar-nav > li > a {
	color: white;
	font-size: 14px;
	font-weight: 500;
	margin-top: 2px;
}

/*New/edit post button & modal*/
#create-new-post {
	padding-bottom: 20px;
}
input {
	margin-bottom: 5px;
}
textarea {
	margin-bottom: 5px;
}
.form-options {
	margin-top: 20px;
}
label {
	padding-left: 3px;
}

/*Post*/
.inline {
	display: inline;
}

/*.info-rel {
	position: relative;
	min-height: 109px;
}
.info-top-abs {
	position: absolute;
	bottom: 30px;
}
.info-bottom-abs {
	position: absolute;
	bottom: 0;
}*/
.tag {
	padding-left: 15px;
}

a.edit-pencil.edit-right {
	color: #cccccc;
}
hr {
	margin-top: 10px;
	margin-bottom: 10px;
}
.right {
	float: right;
}
.tag-color:hover {
	color: #00B760;
}

.edit-right {
	float: right;
	margin-right: 10px;
	padding-top: 3px;
}

.author-img {
	max-height: 109px;
}

.post-container {
	margin-bottom: 20px;
	border-radius: 5px;
	border: solid lightgrey 1px;
	padding: 20px;
	background-color: white;
}
